.heroname {
    font-size: 50px;
    /* font-weight: 700; */
}

.desc {
    font-size: 23px;
}

.detail {
    font-size: 20px;
}

.personal,
.qual,
.experience,
.contact {
    padding: 2rem;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}